@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@700&display=swap");

body {
  background-color: hsl(30, 38%, 92%);
}
.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;

}

.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 500px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 3rem;
}
.img-desktop {
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
  display: block;
}
.img-mobile {
  display: none;
}
.product{
    letter-spacing: 0.25rem;
}
.product-title{
    font-family: "Fraunces";
    font-size: 2rem;
    color: hsl(212, 21%, 14%);
}
.product-description{
    font-size: 0.8rem;
    color: hsl(228, 12%, 48%);
    padding-top: 1rem;
}
.current-price{
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Fraunces";
}
.old-price{
    text-decoration: line-through;
    padding: 1rem;
    font-size: 0.8rem;
    color: hsl(228, 12%, 48%);
}
.btn{
    background-color: hsl(158, 36%, 37%);
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 0.85rem;
}
.btn:hover{
    background-color: hsl(212, 21%, 14%);
}
.attribution{
    font-family: "Fraunces";

}

@media all and (max-width: 499px) {
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
